<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Page title shown in window title</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="\css\style.css">
    </head>

    <body>
      <div id="head">
        <img id="headerimage" src="https://static.thatsup.co/content/img/place/b/u/bun-meat-bun-farsta-0.jpg">
        <h1 id="headtext">Välkommen till BurgerPrincess</h1>
      </div>

        <main>

             <section id="meny">
               <h2>Välj hamburgare</h2>
               <p> Välj en av alla våra hamburgare </p>


               <div class="wrapper">

                 <div class="burger happy">
                   <h3 class="burgername"> Super Happy Meal </h3>
                   <img class="burgerpic" src="https://www.mcdonalds.com/is/image/content/dam/uk/nfl/nutrition/nfl-product/product/products/mcdonalds-Cheeseburger.jpg?$Product_Desktop$" alt="Cheeseburger" title="Cheeseburger" width="150">
                   <ul>
                     <div class="ingredienser">
                     <li> Glutenfri </li>
                     <li>Innehåller inget spår av nötter</li>
                     <li>Laktosfri</li>
                     </div>
                   </ul>
                 </div>

                 <div class="burger tasty">
                   <h3 class="burgername"> Super Tasty Meal </h3>
                   <img class="burgerpic" src="https://www.mcdonalds.com/is/image/content/dam/uk/nfl/nutrition/nfl-product/product/products/mcdonalds-Quarter-Pounder-with-Cheese.jpg?$Product_Desktop$" alt="Tasty Cheeseburger" title="Tasty Cheeseburger" width="150">
                   <ul>
                     <div class="ingredienser">
                     <li>Massor med gluten</li>
                     <li>Innehåller massor med spår av nötter</li>
                     <li>En laktosbomb</li>
                     </div>
                   </ul>
                 </div>


                 <div class="burger double">
                   <h3 class="burgername"> Double Tasty Meal </h3>
                   <img class="burgerpic" src="https://www.mcdonalds.com/is/image/content/dam/uk/nfl/nutrition/nfl-product/product/products/mcdonalds-Big-Mac.jpg?$Product_Desktop$" alt="Double Cheeseburger" title="Double Cheeseburger" width="150">
                   <ul>
                     <div class="ingredienser">
                     <li>Dubbelt med gluten</li>
                     <li>Innehåller dubbelt med spår av nötter</li>
                     <li>En dubbel laktosbomb</li>
                     </div>
                   </ul>
                 </div>

               </div>
             </section>


          <section id="info">
            <h2>Kundinformation</h2>
            <p> Vi behöver information för att slutföra din beställning </p>

            <h3>Leveransinformation</h3>
            <form>
              <p>
                <label for="full name">Fullständigt namn</label><br>
                <input type="text" id="fullname" name="name" required="required" placeholder="För- och efternamn">
              </p>
              <p>
                <label for="email">E-mail</label><br>
                <input type="email" id="email" name="em" required="required" placeholder="E-mailadress">
              </p>
              <p>
                <label for="gata">Gata</label><br>
                <input type="text" id="gata" name="gn" required="required" placeholder="Gatunamn">
              </p>
              <p>
                <label for="gatunr">Gatunummer</label><br>
                <input type="number" id="gatunr" name="gnr" required="required" placeholder="Gatu- eller husnummer">
              </p>
              <p>
                  <label for="betalning">Välj betalningssätt</label><br>
                  <select id="betalning" name="bs">
                      <option>Swish</option>
                      <option selected="selected">Kortbetalning </option>
                      <option>Klarna</option>
                      <option>PayPal</option>
                  </select>
              </p>
              <p>
                <label for="kön">Kön</label><br>
                <input type="radio" id="kön" name="kön" value"Man">Man<br>
                <input type="radio" id="kön" name="kön" value="Kvinna">Kvinna<br>
                <input type="radio" id="kön" name="kön" value="Icke-binär">Icke-binär<br>
                <input type="radio" id="kön" name="kön" value="Annat" checked="checked">Annat
              </p>

            </form>


          </section>

          <button type="submit"><img src="https://f.nordiskemedier.dk/2di1l4njl79vhaeb_660_660.jpg" width="25"> Slutför köpet</button>
        </main>
        <footer> <hr> &copy 2020 Hypothetical Burgers inc </footer>
    </body>
</html>
