<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Best Burgers - HealthyBurgers</title>
        <meta charset="utf-8"/>
        <script src="https://vuejs.org/js/vue.js"></script>
        <script src="/socket.io/socket.io.js" defer></script>

        <script type="text/javascript" src="js/menu.js" defer></script>
        <script src="js/js_script.js" defer></script>
        <script src="js/vue_script.js" defer></script>
        <link rel="stylesheet" type="text/css" href="\css\style.css">


        <link rel="stylesheet" href="css/deli-very.css">




    </head>

    <body>
      <div id="head">
        <img id="headerimage" src="https://static.thatsup.co/content/img/place/b/u/bun-meat-bun-farsta-0.jpg">
        <h1 id="headtext">Välkommen till HealthyBurgers</h1>
      </div>


      <main>

        <div id="order">
          <section id="menu">

            <div id='menuHead'>
              <h2>Välj en hamburgare</h2>
              <p> Välj en av alla våra nyttiga hamburgare </p>
            </div>

             <div class="wrapper">
               <div v-for= "burger in burgers" :class="['hamburger', burger.burgerID]">
                 <h4> {{ burger.name}} </h4>
                 <div><img :src="burger.imgUrl" width= "150"></div>

                 <ul>
                   <li v-if=burger.gluten==true> Gluten </li>
                   <li v-else> Glutenfri </li>
                   <li v-if=burger.lactose==true> Laktos</li>
                   <li v-else> Laktosfri </li>
                   <li v-if=burger.nuts==true> Nötter</li>
                   <li v-else> Nötfri </li>
                 </ul>
                 <input type="checkbox" class="burgerCheckBox" name="burgerBox" :value=burger.name> Välj
              </div>
            </div>

          </section>



          <section id="info">
            <h2>Kundinformation</h2>
            <p> Vi behöver information för att slutföra din beställning </p>

            <h3>Leveransinformation</h3>
            <form>
              <p>
                <label for="full name">Fullständigt namn</label><br>
                <input type="text" id="fullname" name="name" required="required" placeholder="För- och efternamn">
              </p>
              <p>
                <label for="email">E-mail</label><br>
                <input type="email" id="email" name="em" required="required" placeholder="E-mailadress">
              </p>
              <p>
                <label for="betalning">Välj betalningssätt</label><br>
                <select id="betalning" name="bs">
                    <option>Swish</option>
                    <option selected="selected">Kortbetalning </option>
                    <option>Klarna</option>
                    <option>PayPal</option>
                </select>
              </p>
              <p>
                <label for="kön">Kön</label><br>
                <input type="radio" class="kön" name="kön" value="Man">Man<br>
                <input type="radio" class="kön" name="kön" value="Kvinna">Kvinna<br>
                <input type="radio" class="kön" name="kön" value="IckeBinär">Icke-binär<br>
                <input type="radio" class="kön" name="kön" value="Annat" checked="checked">Annat
              </p>
            </form>


          </section>

          <h1> Click in the map! </h1>
          <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
          <div class="view-box">
            <div id="dots" v-on:click="displayOrder">
                <div

                  v-bind:style="{ left: ordLocation.details.x + 'px', top: ordLocation.details.y + 'px'}">
                  T
                </div>
            </div>
          </div>

          <button v-on:click="addOrder"  type="submit"><img src="https://f.nordiskemedier.dk/2di1l4njl79vhaeb_660_660.jpg" width="50"> Slutför köpet</button>

          <div><h4>Din kontaktinfo</h4><p id="textOrderInfo">  </p></div>
          <div><h4>Din beställning</h4><p id="textBurgerInfo"> </p></div>
          <div id="myID"></div>
        </div>


      </main>
      <footer> <hr> &copy 2020 Hypothetical Burgers inc </footer>
    </body>
</html>
